<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Messaging Service Dashboard</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="css/home.css">
</head>

<body>

<div class="jumbotron text-center">
    <h1 class="display-3">Welcome!</h1>
    <h5 class="display-5">This is your dashboard. You can see messages or send new ones.</h5>
    <hr>
    <div class="container">
    <a class="btn btn-dark btn-lg" href="" role="button">Start Messaging</a>
    </div>
    <br> <br>
    <div class="container">
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>
</div>

</body>
</html>
