<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messaging Service Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD8300px0Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div class="jumbotron text-center" >
        
        <h2 class="display-4">Welcome to Messaging Service!</h2>
        <br>
            <h5 class="display-6">To access your messages or start sending messages, please log in or sign up.</h5>
            <br>
            <div class="buttons">
                <a href="/login" class="btn btn-dark btn-lg">Login</a>
                <a href="/signup" class="btn btn-light btn-lg">Signup</a>
            </div>
    </p>
    </div>
</body>
</html>
